* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
body {
    font-family: 'Inter', sans-serif;
}


/* commons */
.ms_wrapper_85 {
    width: 85%;
    padding: 20px;
}

.ms_wrapper_65 {
    width: 65%;
    padding: 10px;
    margin-top: 60px;
    height: 400px;
}

h1 {
    font-weight: 700;
    font-size: 58px;
}
header h1 {
    color: white;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: #031B4E;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    color: #79849D;
    text-align: center;
}

h4 {
    font-size: 22px;
    color: #79849D;
}


h5 {
    font-size: 16px;
    font-weight: 700;
    color: #79849D;
    margin: 0;
}

footer h5 {
    font-weight: 600;
    color: #7A859D;
}

footer a {
    color: #7A859D;
}

.ms_footer_list_title h5 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}


p {
    font-size: 16px;
    font-weight: 600;
    color: #79849D;
}

.ms_grey_text {
    color: #79849D;
}
.ms_dark_grey_text {
    color: #516081;
}
.ms_light_blue_text {
    color: #A7BEFF;
}
.ms_blue_text {
    font-weight: 500;
    color: #2687FD;
}
.ms_dark_blue_text {
    color: #031B4E;
}
.ms_white_text {
    color: #FFFFFF;
}
.ms_aqua_text {
    color: #00B3CC;
}

.ms_weight_500 {
    font-weight: 500;
}




/* buttons */
.btn {
    font-weight: 600;
}
#ms_nav_btn {
    border: 1px solid #2687FD;
    background-color: transparent;
    color: #2687FD;
    margin-left: 6px;
    font-size: 16px;
    transition: 0.3s;

}
#ms_start_btn {
    background-color: white;
    color: #2687FD;
    margin-top: 20px;
    padding: 10px 12px;
    font-size: 18px;
    transition: 0.3s;
}

/* hover */
.ms_blue_text:hover {
    text-decoration: none;
    color: #031B4E;
}
#ms_nav_btn:hover {
    color: white;
    background-color: #2687FD;
}
#ms_account_jumbotron:hover {
    opacity: 1;
}
#ms_google_icon_container:hover {
    background-color: white;
    opacity: 1;
}

#ms_start_btn:hover {
    opacity: 0.6;
}

footer a:hover,
footer a i:hover {
    text-decoration: none;
    color: white;
}



/* nav */
.navbar-brand,
.navbar-header {
    height: 80px;
    line-height: 80px;
    padding-top: 28px;
}
.navbar-brand img {
    width: 100%;
    line-height: 80px;
    vertical-align: middle;
}

.navbar {
    margin-bottom: 0px;
    border: 0px;
}
.navbar-default {
    background-color: white;
    color: #031B4E;
}
.navbar-right li a,
.navbar-left li a {
    line-height: 80px;
    vertical-align: middle;
    margin: 0;
    padding: 0 10px;
    font-weight: 600;
    font-size: 16px;
}
.navbar-right li {
    line-height: 80px;
}
.navbar-default .navbar-nav>li>a {
    color: #031B4E;
}
.navbar-nav>li>a>i {
    margin-left: 4px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #2687FD;
}

/* jumbotron */

#ms_jumbotron {
    margin-top: 80px;
    background-image: url("../img/bg-banner-home.jpg");
    background-size: contain;
    padding: 50px 0;
}


.ms_jumbotron_text {
    font-weight: 500;
    line-height: 30px;
}

 .ms_jumbotron_wrapper {
        margin: 4px auto;
  }

 .ms_jumbotron_wrapper {
    background-color: white;
    border-radius: 8px;  
}
 .ms_jumbotron_wrapper h4{
    font-weight: 700; 
    color: #031B4E;
}
.ms_jumbotron_wrapper h4:nth-child(2) {
    color: #2687FD;
}
.ms_jumbotron_wrapper h6{
    margin-top: 14px;
}
#ms_google_icon_container {
    position: relative;
}
#ms_google_icon {
    width: 5%;
    position: absolute;
    left: 6px;
}

.form-control {
    height: 40px;
    font-size: 14px;
    font-weight: 600;
}
.btn-lg {
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
}

.btn-block {
    border: 0px;
    box-shadow: 1px 1px 5px lightgrey;
}

/* sponsor */

#ms_sponsor {
    background-color: #F3F5F9;
    padding: 30px 0;
    text-align: center;
}

#ms_sponsor .container {
    margin-top: 30px;
    margin-bottom: 30px;
}

#ms_sponsor img {
    max-width: 90%;
    max-height: 100px;
}

#ms_no_padding {
    padding: 0;
}

/* process */
#ms_process {
    padding-top: 60px;
}
#ms_process ul li {
    list-style-type: none;
    padding: 6px;
    border-left: 1px solid #79849D;
}

#ms_process .ms_wrapper_85 {
    margin-top: 40px;
}

#ms_process .ms_cell {
    height: 220px;
}
.ms_cell img,
.ms_cell h5 {
    margin-bottom: 10px;
}


/* carousel - common properties with section stories */

#ms_carousel {
    padding-top: 60px;
    background-color: #F3F5F9;
}

#ms_carousel img {
    width: 100%;
}
#ms_carousel figure figcaption {
    color: #031B4E;
    font-weight: 600;
    padding-top: 10px;
}

.fa-angle-right {
   vertical-align: middle;
   line-height: 400px;
   font-weight: 900;
   font-size: 46px;
   color: #031C4E;
}
.fa-angle-left {
    vertical-align: middle;
    line-height: 400px;
    font-weight: 900;
    font-size: 46px;
    color: #6F7B97;
}

#ms_carousel ul li,
#ms_stories ul li {
    display: inline-block;
    list-style-type: none;
    font-size: 12px;
    color: #2687FD;
}

/* features */
#ms_features {
    padding-top: 60px;
}

#ms_features .ms_cell {
    margin-top: 60px;
}

/* regions */
#ms_regions,
#ms_get_started {
    background: rgb(0,71,197);
    background: linear-gradient(180deg, rgba(0,71,197,1) 0%, rgba(0,26,130,1) 100%);
    padding-top: 60px;
    padding-bottom: 60px;
}

.ms_grid .row:not(:last-child) {
    border-bottom: 1px solid white;
}

.ms_grid {
    margin: 0 10px;
}

/* stories */
#ms_stories {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F3F5F9;
}

#ms_stories img {
    width: 50%;
}

.ms_nested_element {
    background-color: white;
    padding: 60px 0;
    border-radius: 4px;
}

.ms_nested_element h4 {
    padding: 10px 0;
}
.ms_nested_element h5:last-of-type {
    padding-top: 50px;
}



/* footer */
footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #031C4E;
}

#ms_small_logo {
   margin-bottom: 14px;
}

footer i {
    color: #7A859D;
    font-size: 24px;
    padding: 6px;
    margin-top: 10px;
}

footer ul li{
    list-style: none;
    display: inline-block;
}

#ms_footer_right_section ul li {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
}






@media screen and (max-width: 768px) {
    
    .ms_jumbotron_wrapper {
        position: static;
        width: 100%;
    }

    #ms_process .ms_cell {
        height:fit-content;
    }

    .fa-angle-right,
    .fa-angle-left {
      display: none;
    }

    #ms_features .ms_cell {
        margin-top: 30px;
    }

    .ms_grid {
        margin: 0px 10px 50px;
    }

   .ms_footer_list_title h5 {
       padding-top: 20px;
   }
   .navbar-brand img {
    padding-top: 3px;
}

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        margin: 0;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse:not(.in) {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-brand img {
        max-width: 180px;
        margin-left: 0px;
    }

    /* process section */
    .ms_cell {
        margin: 20px auto;
        height: max-content;
    }

    #ms_footer_right_section {
        margin-top: 20px;
    }

    .navbar-brand img {
        width: 100%;
        line-height: 80px;
        vertical-align: middle;
        padding-top: 3px;
}

@media (min-width: 991px) and (max-width: 1200px) {
    .navbar-right li a,
    .navbar-left li a {
    font-size: 14px;
    }
}