* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
body {
    font-family: 'Inter', sans-serif;
}


/* commons */
.ms_wrapper_85 {
    width: 85%;
    padding: 20px;
}
.ms_wrapper_65 {
    width: 65%;
    padding: 10px;
}
.ms_wrapper_85::after,
.ms_wrapper_65::after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-weight: 700;
    font-size: 58px;
}
header h1 {
    color: white;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: #031B4E;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    color: #79849D;
    text-align: center;
}

h4 {
    font-size: 22px;
    color: #79849D;
}


h5 {
    font-size: 16px;
    font-weight: 700;
    color: #79849D;
    margin: 0;
}

p {
    font-size: 16px;
    font-weight: 500;
    color: #79849D;
}

.ms_grey_text {
    color: #79849D;
}
.ms_light_blue_text {
    color: #A7BEFF;
}
.ms_blue_text {
    color: #2687FD;
}
.ms_dark_blue_text {
    color: #031B4E;
}




/* buttons */
.btn {
    font-weight: 600;
    font-size: 16px;
}
#ms_nav_btn {
    border: 1px solid #2687FD;
    background-color: transparent;
    color: #2687FD;
    margin-left: 6px;

}



/* nav */
.navbar-brand,
.navbar-header {
    height: 80px;
    line-height: 80px;
    padding-top: 28px;
}
.navbar-brand img {
    width: 100%;
    line-height: 80px;
    vertical-align: middle;
}

.navbar {
    margin-bottom: 0px;
    border: 0px;
}
.navbar-default {
    background-color: white;
    color: #031B4E;
}
.navbar-right li a,
.navbar-left li a {
    line-height: 80px;
    vertical-align: middle;
    margin: 0;
    padding: 0 10px;
    font-weight: 600;
    font-size: 16px;
}
.navbar-right li {
    line-height: 80px;
}
.navbar-default .navbar-nav>li>a {
    color: #031B4E;
}
.navbar-nav>li>a>i {
    margin-left: 4px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #2687FD;
}

/* jumbotron */

#ms_jumbotron {
    margin-top: 80px;
    background-image: url("../img/bg-banner-home.jpg");
    background-size: contain;
    padding: 50px 0;
}


.ms_jumbotron_text {
    font-weight: 500;
    line-height: 30px;
}

 .ms_jumbotron_wrapper {
        margin: 4px auto;
  }

 .ms_jumbotron_wrapper {
    background-color: white;
    border-radius: 8px;  
}
 .ms_jumbotron_wrapper h4{
    font-weight: 700; 
    color: #031B4E;
}
.ms_jumbotron_wrapper h4:nth-child(2) {
    color: #2687FD;
}
.ms_jumbotron_wrapper h6{
    margin-top: 14px;
}
#ms_google_icon_container {
    position: relative;
}
#ms_google_icon {
    width: 5%;
    position: absolute;
    left: 6px;
}

.form-control {
    height: 40px;
    font-size: 14px;
    font-weight: 600;
}
.btn-lg {
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
}

.btn-block {
    border: 0px;
    box-shadow: 1px 1px 5px lightgrey;
}

/* sponsor */

#ms_sponsor {
    background-color: #F3F5F9;
    padding: 30px 0;
    text-align: center;
}

#ms_sponsor .container {
    margin-top: 30px;
    margin-bottom: 30px;
}

#ms_no_padding {
    padding: 0;
}

/* process */
#process {
    padding-top: 60px;
}
#process ul li {
    list-style-type: none;
    padding: 6px;
    border-left: 1px solid #79849D;
}

#process .ms_wrapper_85 {
    margin-top: 40px;
}

.ms_cell {
    height: 220px;
}
.ms_cell img,
.ms_cell h5 {
    margin-bottom: 10px;
}


/* carousel */

#ms_carousel {
    padding-top: 60px;
    background-color: #F3F5F9;
}

#ms_carousel img {
    width: 100%;
}

.ms_carousel_img {
    margin-top: 60px;
    position: relative;
}
.fa-angle-right {
   padding-right: 8px;
   vertical-align: middle;
   font-weight: 900;
   font-size: 46px;
   color: #6F7B97;
}
.fa-angle-left {
    padding-left: 8px;
    vertical-align: middle;
    font-weight: 900;
    font-size: 46px;
    color: #031C4E;
}
 /* nav from phone
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: white;
    height: 260px;
}
.navbar-default .navbar-toggle {
    margin-top: 22px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form  {
border: 0px  ;
} */

@media screen and (max-width: 768px) {
    
    .ms_jumbotron_wrapper {
        position: static;
        width: 100%;
    }
}


@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        margin: 0;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-brand img {
        max-width: 180px;
        margin-left: 0px;
    }

    /* process section */
    .ms_cell {
        margin: 20px auto;
        height: max-content;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    .navbar-right li a,
    .navbar-left li a {
    font-size: 14px;
    }
}